body{
    background-color: #bbdebb;
}

img {
    width: 80%;
    border-radius:40px;
    margin:auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    
    }

    h1{
        font-family: Tahoma;
        margin: auto;
        width: 80%;
        border-radius: 20px;
        background-color: #669966;
        text-align: center;
        text-transform: capitalize;
        
    }

    h2{
        font-family: Tahoma;
        margin: auto;
        width: 40%;
        border-radius: 15px;
        background-color: #CCCC99;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20 px;
    }

    h3{
        font-family: Tahoma;
        margin: auto;
        width: 40%;
        text-align: center;
        border-radius: 10px;
        background-color: #CCCC99;
        margin-top: 20px;
        margin-bottom: 20 px;

    }
    h4{
        font-family: Tahoma;
        margin: 3000;
        width: 18%;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 20 px;
        border-radius: 10px;
        background-color: #669966;
    }
    h5{
        font-family: Tahoma;
        margin: 100;
        width: 80%;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20 px;
        text-decoration: underline;
       
    }
    p{
        font-family: Tahoma;
        margin: auto;
        width: 80%;
        text-align: auto;
        margin-top: 20px;
        margin-bottom: 20 px;
    }
    p2{
        font-family: Tahoma;
        margin: auto;
        width: 80%;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20 px;
    }
    h6{
        font-family: Tahoma;
        margin: auto;
        width: 20%;
        text-align: center;
        border-radius: 10px;
        background-color: #6699CC;
        margin-top: 10px ;
        margin-bottom: 10 px;
    
    }
    p3{
        font-family: Tahoma;
        margin: auto;
        width: 80%;
        text-align: auto;
        margin-top: 20px;
        margin-bottom: 20 px;
    }
    ul{
        margin: auto;
        width: 40%;
        font-family: Tahoma;
        text-transform:uppercase;
        color: #000000;
        margin-top: 20px;
    }